# node.js
#
node_modules/
npm-debug.log
yarn-error.log
#package-lock.json
#package.json

# Bundle artifact
*.jsbundle

# Created by .ignore support plugin (hsz.mobi)
.idea/
.sass-cache
.css.map
/nbproject
# /vendor/
/storage/
/.env